/*YouTube-style logo CSS by Leon Taveras (@LeonimuZ) WTFPL License*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
#logo-banner {
	text-align: left;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 50px;
}
#logo {
	margin: 5px auto;
	width: 300px;
	text-align: center;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	font-size: 50px;
}

.you {
	letter-spacing: -2px;
	text-shadow: 0 2px 0 white;
  padding-right: 5px;
}

.tube {
	position: relative;
	padding: 0 5 15px;
	background-image: -webkit-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
	background-image: -o-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(109, 2, 2) 22%, rgb(201, 0, 0) 61%);
	background-image: linear-gradient(bottom, #6D0202 22%, rgb(201, 0, 0) 61%);
	color: #fff;
	letter-spacing: -2px;
	text-shadow: 0 3px 0 #000;
	border-radius: 50% / 11%;
	box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.67);
}

.tube::before {
	content: "Comments";
	line-height: 55px;
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -4.5%;
	background: inherit;
	border-radius: 5% / 50%;
}
/*End of logo CSS by Leon Taveras (@LeonimuZ)*/

#fakeplayer {
	width: 400px;
	height: 300px;
	font-size: 14px;
	line-height: 20px;
	color: white;
	text-align: center;
	background: black repeat url('/assets/tv_static.gif');
	background-size: 100px;
	padding: 25px;
	border: 25px;
}
#comment {
	margin-top: 50px;
}
